@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model WebApplication3.Models.CommentViewModel

<div class="page-wrapper">
    <ul class="col-md-8">
        @await Html.PartialAsync("_PostPartial", Model.Post)
        @if (!Model.Post.Posted)
        {
            <form method="post" asp-action="Apply" asp-controller="PostManager" asp-route-id="@Model.Post.Id" asp-route-link=>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-success" style="height:40px;width:105px">@Localizer["Apply"]</button>
                    </span>
                </div>
            </form>
            <form method="post" asp-action="Remove" asp-controller="PostManager" asp-route-id="@Model.Post.Id">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" style="height:40px;width:105px">@Localizer["Remove"]</button>
                    </span>
                </div>
            </form>
        }
        <hr />
        <p>@Html.Raw(Model.Post.Description)</p>
    </ul>
</div>

@if (Model.Comments.Count > 0)
{
    <h2>@Localizer["Comments"]</h2>
    <div class="col-md-4" id="manageComments">
        @await Html.PartialAsync("ManageComments", Model)
    </div>
}
