@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject UserManager<ApplicationUser> UserManager

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Localizer["Username"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["EmailConfirmed"]</th>
            <th>@Localizer["FirstName"]</th>
            <th>@Localizer["LastName"]</th>
            <th>@Localizer["Action"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in UserManager.Users.ToList())
        {
            <tr>
                <th>@user.UserName</th>
                <th>@user.Email</th>
                <th>@user.EmailConfirmed</th>
                <th>@user.FirstName</th>
                <th>@user.LastName</th>
                <td>
                    <form method="post" asp-action="DeleteUser" asp-controller="PostManager" asp-route-id="@user.Id"
                          data-ajax="true" data-ajax-mode="replace" data-ajax-update="#three-panel" enctype="multipart/form-data">
                        <button class="btn btn-danger">@Localizer["Delete"]</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>