@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model Comment

@*<div class="form-group">
        <input asp-for="@Model.CommentAuthor" class="form-control" readonly />
        <form method="post" asp-action="DeleteComment" asp-controller="Home" asp-route-id="@Model.CommentId" asp-route-postId="@Model.PostId" onsubmit="return AjaxDeleteComment(this);"
              data-ajax="true" data-ajax-mode="replace" data-ajax-update="#@commentsId" enctype="multipart/form-data">
            <div class="input-group">
                <span class="input-group-btn">
                    @if (UserManager.GetUserAsync(User).Result != null && UserManager.GetUserAsync(User).Result.UserName == Model.CommentAuthor && !User.IsInRole("Admin"))
                    {
                        <button class="btn btn-danger">x</button>
                    }
                    @if (User.IsInRole("Admin") && Model.CommentPosted == true)
                    {
                        <button class="btn btn-danger">x</button>
                    }
                </span>
            </div>
        </form>
        <input asp-for="@Model.PostedOn" class="form-control" readonly />
        <input asp-for="@Model.CContent" class="form-control" readonly />
    </div>*@
<div class="row justify-content-center">

    <div class="col col-7">
        <b>@Model.CommentAuthor</b>
        <p>@Model.CContent</p>
        <p>@Model.PostedOn</p>
    </div>
    <div class="col col-1">
        <div class="input-group">
            <span class="input-group-btn">
                <form method="post" asp-action="ApplyComment" asp-controller="PostManager" asp-route-id="@Model.CommentId" asp-route-postId="@Model.PostId"
                      data-ajax="true" data-ajax-mode="replace" data-ajax-update="#manageComments" enctype="multipart/form-data">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-success" style="height:40px;width:105px">Apply</button>
                        </span>
                    </div>
                </form>
                <form method="post" asp-action="RemoveComment" asp-controller="PostManager" asp-route-id="@Model.CommentId" asp-route-postId="@Model.PostId"
                      data-ajax="true" data-ajax-mode="replace" data-ajax-update="#manageComments" enctype="multipart/form-data">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" style="height:40px;width:105px">Remove</button>
                        </span>
                    </div>
                </form>
            </span>
        </div>
    </div>
</div>
