@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model WebApplication3.Models.Post
<div class="wrapper">
    <p>
        @if (UserManager.FindByNameAsync(Model.Author).Result.ProfilePicture != null)
        {
            <img style="width:40px; height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.FindByNameAsync(Model.Author).Result.ProfilePicture))">
        }
    </p>
    <p>@Model.Author</p>
    <p>@Model.PostedOn.ToString("dd MMM yyyy")</p>
    <h4>
        <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id">
            @Model.Title
        </a>
    </h4>
    <textarea asp-for="ShortDescription" class="form-control" rows="3" readonly>
        <p>@Model.ShortDescription</p>
    </textarea>
    <hr />
</div>    