@model WebApplication3.Models.Post
<div class="wrapper">
    <p>@Model.Author</p>
    <p>@Model.PostedOn.ToString("dd MMM yyyy")</p>            
        
        
        
    <h4>
        <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id">
            @Model.Title</a>
    </h4>
    <textarea asp-for="ShortDescription" class="form-control" rows="3" readonly>
        <p>@Model.ShortDescription</p>
    </textarea>        
    <hr/>
        
    
</div>    