@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject UserManager<ApplicationUser> UserManager
@model WebApplication3.Models.CommentViewModel
@{
    var midDel = "myModalDel" + Model.Post.Id;
    var tmDel = "#myModalDel" + Model.Post.Id;
    var mid = "myModal" + Model.Post.Id;
    var tm = "#myModal" + Model.Post.Id;
}

<div class="page-wrapper">
    <ul class="col-md-8">
        @await Html.PartialAsync("_PostPartial", Model.Post)
        @if (UserManager.GetUserAsync(User).Result != null && UserManager.GetUserAsync(User).Result.UserName == Model.Post.Author && !User.IsInRole("Admin") && !User.IsInRole("Moderator"))
        {
            <span class="input-group-btn">
                <button class="btn btn-danger" data-toggle="modal" data-target="@tmDel">@Localizer["Delete"]</button>
            </span>

        }
        @if ((User.IsInRole("Admin") || User.IsInRole("Moderator")) && Model.Post.Posted == true)
        {
            <span class="input-group-btn">
                <button class="btn btn-danger" data-toggle="modal" data-target="@tmDel">@Localizer["Delete"]</button>
            </span>
        }
        <form method="post" asp-action="Delete" asp-controller="Home" asp-route-id="@Model.Post.Id" asp-route-author="@Model.Post.Author">

            <div class="modal fade" id="@midDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            Are you sure want to delete this item?
                        </div>
                        <div class="modal-footer">
                            <button class="btn bg-danger">Delete</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <p>@Html.Raw(Model.Post.Description)</p>
    </ul>
    <div class="right-panel-wrapper">
        <div class="right-panel">
            @await Component.InvokeAsync("LastPosts", new { howMany = 2 })
        </div>
    </div>
</div>

<h2>@Localizer["Comments"]</h2>
<div class="col-md-4">
    <div class="col-md-4">
        <form asp-action="Details" asp-controller="Home" method="post">
            <p>
                <input type="text" name="CContent">
                <input type="hidden" name="PostId" value="@Model.Post.Id">
            </p>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="@tm">
                    Submit
                </button>
                <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Submit Comment Confirmation</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                Are you sure to post this comment? Before it appears on the page it will be validate by administration,
                                this may take up two days.
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-success" value="Submit">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            
        </form>
    </div>
    <div class="row justify-content-center" id="comments">
        @await Html.PartialAsync("~/Views/Home/CommentList.cshtml", Model)
    </div>
</div>
