@model WebApplication3.Models.Post

<div class="col-md-4">
    <p class="text-center">
        @Model.Author
    </p>
    <p class="text-center">
        @Model.PostedOn.ToString("dd MMM yyyy")
    </p>
</div>
<div class="col-md-8">
    <h4>
        <a asp-action="Details" asp-route-id="@Model.Id">
            @Model.Title
        </a>
    </h4>
    <textarea asp-for="ShortDescription" class="form-control" rows="3">
        <blockquote>
            <p>@Model.ShortDescription</p>
        </blockquote>
    </textarea>
</div>