@inject WebApplication3.Models.PostContext context
@model IEnumerable<WebApplication3.Models.Post>

@{
    ViewData["Title"] = "PostView";
    
}

<h1>PostView</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => context.Categories.Find(item.CategoryId).Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posted)
            </td>
            <td>
                <button class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</button> |
                <button class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</button> |
                <button class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
