@using WebApplication3.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<WebApplication3.Models.RoleViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Localizer["FirstName"]</th>
            <th>@Localizer["LastName"]</th>
            <th>Email</th>
            <th>@Localizer["Roles"]</th>
            <th>@Localizer["Action"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">@Localizer["Manage"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>