@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model WebApplication3.Areas.Identity.Pages.Account.Manage.PostViewModel
@inject WebApplication3.Data.ApplicationDbContext context
@{
    ViewData["Title"] = Localizer["Your"];
    ViewData["ActivePage"] = ManageNavPages.UserPosts;
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>


<h4>@ViewData["Title"]</h4>
<form method="post">
    <label>@Localizer["Notif"]</label>
    <input type="checkbox" name="Notifications" checked="@Model.Post.User.Notifications" />
    <button asp-route-check="@Model.Post.User.Notifications" asp-page-handler="notificate">@Localizer["Update"]</button>
</form>



<partial name="_StatusMessage" model="Model.StatusMessage" />
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Author"]</th>
            <th>@Localizer["Title"]</th>
            <th>@Localizer["PostedOn"]</th>
            <th>@Localizer["Category"]</th>
            <th>@Localizer["Posted"]</th>
            <th>@Localizer["Action"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Post.Posts)
        {
            var mid = "myModal" + item.Id;
            var tm = "#myModal" + item.Id;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedOn.ToString("dd MMM yyyy"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => context.Categories.Find(item.CategoryId).Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posted)
                </td>
                <td>
                    <form method="get">
                        <a class="btn btn-info" asp-page="PostDetails" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                    </form>
                    <form method="post">
                        <a class="btn btn-success" asp-page="PostEdit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                    </form>
                    <form method="post">

                        @*<button id="btnDelete" class="btn btn-danger" data-toggle="modal" asp-page-handler="delete" asp-route-id="@item.Id">Delete</button>*@

                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="@tm">
                            @Localizer["Delete"]
                        </button>
                        <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">@Localizer["DeleteConf"]</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        @Localizer["Question"]
                                    </div>
                                    <div class="modal-footer">
                                        <button asp-page-handler="delete" asp-route-id="@item.Id" id="btnDelete" class="btn bg-danger">@Localizer["Delete"]</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Close"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>