@*@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model Post

<h4>Comment list</h4>
@foreach (var comment in Model.Comments)
{
    @if (comment.CommentPosted == true)
    {
        <div class="form-group">
            <input asp-for="@comment.CommentAuthor" class="form-control" readonly />
            <form method="post" asp-action="DeleteComment" asp-controller="Home" asp-route-id="@comment.CommentId" asp-route-postId="@comment.PostId">
                <div class="input-group">
                    <span class="input-group-btn">
                        @if (UserManager.GetUserAsync(User).Result != null && UserManager.GetUserAsync(User).Result.UserName == comment.CommentAuthor)
                        {
                            <button class="btn btn-info">x</button>
                        }
                        @if (User.IsInRole("Admin") && comment.CommentPosted == true)
                        {
                            <button class="btn btn-info">x</button>
                        }
                    </span>
                </div>
            </form>
            <input asp-for="@comment.PostedOn" class="form-control" readonly />
            <input asp-for="@comment.CContent" class="form-control" readonly />
        </div>
    }
    else 
    {
        <div class="form-group">
            <input asp-for="@comment.CommentAuthor" class="form-control" readonly />
            <form method="post" asp-action="DeleteComment" asp-controller="Home" asp-route-id="@comment.CommentId" asp-route-postId="@comment.PostId">
                <div class="input-group">
                    <span class="input-group-btn">
                        @if (User.IsInRole("Admin") && comment.CommentPosted == true)
                        {
                            <button class="btn btn-info">x</button>
                        }
                    </span>
                </div>
            </form>
            <input asp-for="@comment.PostedOn" class="form-control" readonly />
            <input asp-for="@comment.CContent" class="form-control" readonly />
        </div>
    }
}*@