

@{
    ViewData["Title"] = "Create post";
}
<h1>@ViewData["Title"]</h1>
@*@model IEnumerable<WebApplication3.Models.Category>*@
@*@model WebApplication3.Models.ViewModel
@using (Html.BeginForm(FormMethod.Post))
{
    <form method="post">
        <fieldset>
            <p><label>Title:</label>
                <input type="text" name="Title"/>
            </p>
            <p><label>Category:</label>
                <select name="CategoryId">
                    @foreach (var category in Model.Category)
                    {
                        <option value="@category.Id">@category.Title</option>
                    }
                </select>
            </p>

            <p><label>Short description:</label>
                <input type="text" name="ShortDescription"/>
            </p>
            $1$<p><label>Description:</label>
                <input type="text" name="Description"/>
            </p>#1#
            <input type="submit" value="Submit">
        </fieldset>
    </form>
}*@
@model WebApplication3.Models.Post
@using (Html.BeginForm(FormMethod.Post))
{
    <form method="post">
        <fieldset>
            <p><label>Title:</label>
                <input type="text" name="Title"/>
            </p>
            @*<p><label>Category:</label>
                <select name="CategoryId">
                    @foreach (var category in Model.Category)
                    {
                        <option value="@category.Id">@category.Title</option>
                    }
                </select>
            </p>*@

            <p><label>Short description:</label>
                <input type="text" name="ShortDescription"/>
            </p>
            <p><label>Description:</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "ckeditor" })
            </p>    
            <input type="submit" value="Submit">
        </fieldset>
    </form>

}