@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Localizer["RoleManager"]</h1>
<form method="post" asp-action="AddRole" asp-controller="RoleManager">
    <div class="input-group">
        <input name="roleName" class="form-control w-25" />
        <span class="input-group-btn">
            <button class="btn btn-info">@Localizer["AddRole"]</button>
        </span>
    </div>
</form>
<form method="post" asp-action="DeleteRole" asp-controller="RoleManager">
    <div class="input-group">
        <input name="roleName" class="form-control w-25" />
        <span class="input-group-btn">
            <button class="btn btn-info">@Localizer["DeleteRole"]</button>
        </span>
    </div>
</form>
<table class="table table-striped">
    <thread>
        <tr>
            <th>Id</th>
            <th>@Localizer["Role"]</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <th>@role.Id</th>
                <th>@role.Name</th>
            </tr>
        }
    </tbody>
</table>